<div class="login-page">
      <div class="form">
      
        <div class="form-line"></div>

        <div style="margin-top: 18px;">
          <input type="text" name="username" ng-class="errorCls" ng-model="username" placeholder="username"/>
          	<span class="help-block" ng-show="error" ng-class="errorLbl">
        		<label>{{label}}</label>
        	</span>
          <button type="submit" ng-click="login()">login</button>
        </div>








    </div> <!-- end form -->
    </div> <!-- end login container -->